---
import { SITE_DESCRIPTION } from '../consts'
import Layout from '../layouts/BlogPost.astro'
---

<Layout
    title="Sobre"
    description={SITE_DESCRIPTION}
    pubDate={new Date('Jan 01 2025')}
    heroImage="/about.webp"
>
    <h2>Sobre a scan4me</h2>
    <p>
        A scan4me foi criada para ajudar empresas de pequeno e médio porte a
        encontrar soluções eficazes e acessíveis de segurança cibernética. Não
        somos uma empresa que oferece serviços diretos de segurança; nosso papel
        é orientar você para a escolha de uma solução confiável e certificada no
        mercado.
    </p>

    <p>
        Após uma análise criteriosa de mais de 105 competidores no setor de
        cibersegurança, avaliamos ferramentas, resultados e conformidade com
        certificações internacionais. Como resultado, decidimos nos afiliar à
        Hostedscan, uma empresa que se destacou pela acessibilidade, facilidade
        de uso e excelência em serviços de segurança cibernética.
    </p>

    <p>
        A Hostedscan oferece diferentes planos de acordo com as necessidades de
        sua empresa: uma versão gratuita para quem está começando, uma versão
        premium com recursos avançados e uma versão MSP voltada para provedores
        de serviços gerenciados. Além disso, o modelo de preço é baseado em
        targets (alvos), proporcionando flexibilidade e custo-benefício. Para
        esclarecer dúvidas sobre os planos ou o modelo de preços, o suporte ao
        cliente da Hostedscan está à disposição para fornecer mais informações.
    </p>

    <p>
        Nosso compromisso é fornecer informações claras e objetivas para ajudar
        você a proteger seu negócio com soluções modernas e confiáveis.
    </p>
    <h2>Aviso Legal</h2>
    <p>
        A scan4me atua apenas como afiliada da Hostedscan, indicando seus
        serviços com base em nossa análise independente. Não temos
        responsabilidade direta pelo funcionamento, suporte ou resultados
        provenientes do uso dos serviços oferecidos pela Hostedscan. A decisão
        de aderir ao serviço é exclusivamente sua e deve ser feita com base em
        sua própria avaliação e necessidades. Recomendamos que você revise os
        termos e condições da Hostedscan antes de contratar qualquer serviço.
    </p>
    <p>
        scan4me tem o objetivo de servir como um ponto de apoio informativo para ajudar
        sua empresa a tomar decisões conscientes sobre segurança cibernética.
    </p>
</Layout>
