---
import { SITE_TITLE } from '../consts'

const today = new Date()
---

<footer class="mt-20 md:mt-36 mx-4">
    <p class="text-sm font-medium mb-10">
        &copy; {today.getFullYear()}
        {SITE_TITLE}. All rights reserved.
    </p>
</footer>
